<!-- 

    Author: Danny Sofftie
    Modified date: Oct 26 2017 01:18
    
 -->

<div class="h-100" id="members_area">
    <div class="_grant" style="position: absolute; right: 5px; top: 100px">
        <button class="btn btn-info" id="grantbtn" title="Client access code and their phone number to authorize collections with that phone number">Grant client access <span class="mdi mdi-lock-open"></span></button>
        <div class="__popover">
            <div class="__popovertext">
                <small id="infotext">info text</small>
                <form id="grantAccess">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="mdi mdi-phone"></span></span>
                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control form-control-sm" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="mdi mdi-lock-pattern"></span></span>
                            <input type="text" id="accessCode" name="accessCode" class="form-control form-control-sm" placeholder="Access code">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-block btn-outline-info">Authorize access &nbsp; <span class="mdi mdi-alert-circle-outline"></span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-header">
            <strong>
                <small>After collecting farmer's details, the request will be processed within 5 minutes and the farmer will receive an access token via the mobile number provided. If this fails, you are required to repeat the process.</small>
            </strong>
            <small><i id="regInfo" class="text-danger"></i></small>
        </div>
        <div class="card-body">
            <form name="add_m_form" id="add_members">
                <div class="form-group row m-0 p-0">
                    <small class="col-lg-12 col-md-12 mb-1 p-0">Full names <span class="text-danger">&ast;</span></small>
                    <div class="input-group col-lg-5 col-md-5 m-0 p-0">
                        <span class="input-group-addon">
                        <span class="mdi mdi-account"></span>
                        </span>
                        <input type="text" name="first_name" class="form-control" placeholder="First name" required="required">
                    </div>
                    <div class="input-group col-lg-6 col-md-6 ml-4 p-0">
                        <span class="input-group-addon">
                            <span class="mdi mdi-account"></span>
                        </span>
                        <input type="text" name="last_name" class="form-control" placeholder="Last name" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <small>Select region <span class="text-danger">&ast;</span></small>
                    <select name="region_code" id="region_code" class="custom-select form-control">
                        <!-- 
                            regions and region codes will be populated dynamically
                        -->
                    </select>
                </div>
                <div class="form-group">
                    <small>Mobile number <span class="text-danger">&ast;</span></small>
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="mdi mdi-phone"></span>
                        </span>
                        <input type="tel" name="phone" id="phone" class="form-control" placeholder="Mobile number" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <small>ID number <span class="text-danger">&ast;</span></small>
                    <div class="input-group">
                        <span class="input-group-addon">
                         <span class="mdi mdi-numeric"></span>
                        </span>
                        <input type="text" name="id_number" id="id_number" class="form-control" placeholder="ID number" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <small>Optional email adress</small>
                    <div class="input-group">
                        <span class="input-group-addon">
                         <span class="mdi mdi-email"></span>
                        </span>
                        <input type="email" class="form-control" name="email" placeholder="Optional email address">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-outline-info" id="request_approval">Request membership &nbsp; <span class="mdi mdi-chevron-double-right"></span></button>
                </div>
            </form>
        </div>
    </div>
    <div class="card ml-5" id="res_auth_cont">
        <div class="card-header">
            <h6>Membership approval</h6>
        </div>
        <div class="card-body">
            <form name="app_m" id="app_m">
                <div class="form-group">
                    <small>Member didn't get code?</small>
                    <button class="btn btn-outline-info btn-block" type="button" id="res_auth">Resend code &nbsp; <span class="mdi mdi-replay"></span></button>
                </div>
            </form>
        </div>
    </div>
</div>