<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merchant end-point | Authentication required</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/materialdesignicons.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="main_wrapper">
        <div class="d-sm-none d-md-block bg-info" id="side_nav">
            <div class="icon text-center mt-3">
                <span class="mdi mdi-basecamp mdi-48px"></span>
            </div>
            <!-- side menu list-group -->
            <div class="mt-5">
                <ul class="list-group" id="side_nav_options">
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-content-center" id="c_l">
                        <span><span class="mdi mdi-currency-btc"></span>&nbsp; Collections</span>
                        <span class="badge badge-info badge-pill" id="col_length"></span>
                    </li>
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-content-center" id="p_t">
                        <span><span class="mdi mdi-book-minus"></span>&nbsp; Pending</span>
                        <span class="badge badge-warning badge-pill" id="pend_len"></span>
                    </li>
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-content-center" id="r_m">
                        <span> <span class="mdi mdi-call-split"></span>&nbsp; Recent</span>
                        <span class="mdi mdi-chevron-double-right"></span>
                    </li>
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-content-center" id="ab">
                        <span> <span class="mdi mdi-call-missed"></span>&nbsp; Defaulters</span>
                        <span class="mdi mdi-account-check"></span>
                    </li>
                    <li class="list-group-item list-group-item-info d-flex justify-content-between align-content-center" id="r_s">
                        <span><span class="mdi mdi-history"></span>&nbsp; Review</span>
                    </li>
                    <li class="list-group-item list-group-item-info d-flex" id="re_S">
                        <span><span class="mdi mdi-chart-bar"></span>&nbsp; Reports</span>
                    </li>
                    <li class="list-group-item list-group-item-info d-flex" id="logout">
                        <span><span class="mdi mdi-account-convert"></span>&nbsp; Sign Out</span>
                    </li>
                </ul>
            </div>
            <div id="bottom_footer_nav">
                <small class="text-white">For fast and secure processing</small>
                <i class="mdi mdi-wallet-giftcard"></i>
            </div>
            <div class="close-button">
                <a href="javascript:void(0)" id="close_button">&times;</a>
            </div>
        </div>
        <div id="dashboard_content" class="p-0 m-0">

            <!-- nav bar -->
            <nav class="navbar navbar-dark bg-info justify-content-between text-light">
                <span class="btn btn-sm btn-outline-light" id="menu_toggler">
                    <span class="mdi mdi-menu-right"></span>
                </span>
                <a class="navbar-brand">Merchant GH9-HGP</a>
                <span class="mdi mdi-refresh mdi-24px" id="refresh_icon"></span>
                <a href="/auth/logout" class="btn btn-danger"><span class="mdi mdi-chevron-double-right"></span></a>
            </nav>
            <!-- end of navbar -->

            <!-- container that holds data requested through asynchronous methods -->

            <div id="data_container" class="h-100">
                <div class="d-flex justify-content-center align-items-center h-75">
                    <button class="btn btn-outline-info" id="request_collection">Today's collections &nbsp; <span class="mdi mdi-chevron-double-down"></span></button> &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-primary" id="add_members">Add clients &nbsp; <span class="mdi mdi-pentagon"></span></button>
                </div>
            </div>
            <div id="preloader_con">
            </div>
        </div>
    </div>
    </div>
    <script src="/js/jquery.3.2.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/dash_script.js"></script>
</body>

</html>