<!-- 

    error page
    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource not found | Server Error</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/materialdesignicons.css">
    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div>
            <div style="font-size:100px" class="text-danger ml-5">
                <span class="mdi mdi-alert-outline"></span>
            </div>
            <div>
                <strong>404 error: resource not found</strong>
                <p>Go back to <a href="/">home</a> page or <a href="#!">report</a> this error.</p>
            </div>
        </div>
    </div>
</body>

</html>