<!-- 
    THIS WILL RETRIEVE MEMBERS ADDED/JOINED IN THE LAST ONE WEEK,
    THE OPERATOR WILL HAVE THE OPTIONS TO TRAIN THESE NEW MEMBERS ON THE PROCEDURE OF DAILY ROUTINES,
    e.g., keeping time, checking balance, requesting balances, making withdrawals and such.
 -->

<div class="container mt-4">
    <span class="alert alert-success">
    Members that appear here got registred in the past one week, you can remind them of the daily tasks as below.
    <span class="mdi mdi-alert"></span>
    </span>
    <div class="row mt-3">
        <div class="col-md-3 col-lg-3 d-sm-none d-md-block" style="border-right: 1px solid teal">
            <h6>Available options:</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="mdi mdi-clock-alert"></span>&nbsp; Time notifications</li>
                <li class="list-group-item"><span class="mdi mdi-bell-ring"></span>&nbsp; Daily notifications</li>
                <li class="list-group-item"><span class="mdi mdi-bank"></span>&nbsp; Check balance</li>
                <li class="list-group-item"><span class="mdi mdi-av-timer"></span>&nbsp; Request withdrawals</li>
                <li class="list-group-item"><span class="mdi mdi-twitch"></span>&nbsp; Request overdrafts</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <h6>You can service a member upon request</h6>
            <div class="col-md-5 col-lg-5">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="mdi mdi-sort-numeric"></span>
                    </div>
                    <input type="text" id="q" class="form-control" placeholder="Phone, or ID number">
                </div>
            </div>
            <div id="m_cont" class="mt-3 row">
                <!-- 
                    Q RESULT
                 -->

            </div>
        </div>
    </div>
</div>
</div>